$color-primary: #d9487f;
$color-primary--variant:   #CF2B69;

$color-secondary : rgb(0,71,141); // #00478D
$color-secondary--variant : rgb(0,71,141); // #00478D

/*   Widget colors
---------------------------------------------------------------------------*/

$color-white            : rgb(255, 255, 255);       // #FFFFFF
$color-white-smoke      : rgb(248, 248, 248);       // #F8F8F8  OK  (Sector Background)

$color-grey-smoke       : rgb(238, 238, 238);       // #EEEEEE
$color-light-grey       : rgb(212, 215, 217);       // #D4D7D9  OK  (Sector Borders and Division Borders)
$color-grey             : rgb(157, 166, 173);       // #9DA6AD  OK  (Input Borders)
$color-dark-grey        : rgb(122, 128, 133);       // #7A8085  OK  (Labels)

$color-black            : rgb(45, 45, 45);          // #2D2D2D  OK  (Text Base)
