$this: ".odpv.form";

#{$this} {
  &__label {
    display: inline-block;
    margin: 5px 0;

    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;

    color: $color-dark-grey;

    &[for] {
      cursor: pointer;
    }
  }

  select#{$this}__control,
  textarea#{$this}__control,
  &__control[type="text"],
  &__control[type="password"],
  &__control[type="datetime"],
  &__control[type="datetime-local"],
  &__control[type="date"],
  &__control[type="month"],
  &__control[type="time"],
  &__control[type="week"],
  &__control[type="number"],
  &__control[type="email"],
  &__control[type="url"],
  &__control[type="search"],
  &__control[type="tel"],
  &__control[type="color"],
  &__control[type="file"] {
    display: block;
    width: 100%;

    padding: $input-padding-base;
    margin: 0;

    font-size: $font-size;
    color: $text-default-color;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-appearance: none;

    background-color: $color-white;
    box-shadow: inset 0 0 4px 0 $color-light-grey;

    border: 0;
    border-radius: 4px;

    &:-webkit-autofill {
      -webkit-text-fill-color: $color-black !important;
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 4px 0 $color-dark-grey;
    }

    &:disabled,
    &.disabled {
      color: $input-disabled-text;
      background-color: $input-disabled-background;

      &::-webkit-input-placeholder {
        color: $input-disabled-text;
      }

      &:-moz-placeholder {
        color: $input-disabled-text;
      }

      &::-moz-placeholder {
        color: $input-disabled-text;
      }

      &:-ms-input-placeholder {
        color: $input-disabled-text;
      }
    }
  }

  &__control {
    height: $input-height-base;

    /* Firefox 18- */
    &:-moz-placeholder {
      color: $color-light-grey;
      font-style: italic;
      font-weight: bold;
    }

    /* Firefox 19+ */
    &::-moz-placeholder {
      color: $color-light-grey;
      font-style: italic;
      font-weight: bold;
    }

    &:-ms-input-placeholder {
      color: $color-light-grey;
      font-style: italic;
      font-weight: bold;
    }

    &[type="hidden"] {
      height: auto;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="file"] {
      padding-top: 7px;
    }

    &[type="checkbox"],
    &[type="radio"] {
      position: absolute;
      z-index: 1;
      opacity: 0;

      width: 22px;
      height: 22px;

      margin: -1px 0 10px;

      cursor: pointer;

      + #{$this}__label {
        display: inline-block;
        position: relative;

        padding: 0 30px;
        margin: 0 0 -1px;

        font-size: 16px;
        font-weight: normal;
        line-height: 1.25;
        text-transform: none;

        color: $color-black;

        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &:before,
        &:after {
          content: " ";
          position: absolute;
          display: inline-block;

          bottom: 0;
          left: 0;

          margin-right: 10px;

          background-color: transparent;

          box-sizing: border-box;

          @include border-radius(3px);
          @include transition;
        }

        &:before {
          border: none;

          top: -1px;

          width: 15px;
          height: 15px;

          margin: 3px;
        }

        &:after {
          top: -1px;
          width: 21px;
          height: 21px;

          box-shadow: inset 0 0 3px 0 $color-grey;
        }
      }

      &:checked {
        & + #{$this}__label {
          &:before {
            text-align: center;

            @include animation("scaleUp", 0.25s, "normal");
          }

          &:after {
            box-shadow: inset 0 0 3px 0 $color-dark-grey;
          }
        }
      }

      &:disabled {
        cursor: default;

        + #{$this}__label {
          cursor: default;
          color: $color-grey;

          &:before,
          &:after {
            cursor: default;
          }

          &:after {
            border-color: $color-light-grey;
            background-color: $input-disabled-background;
          }
        }

        &:checked {
          + #{$this}__label {
            &:before {
              z-index: 1;
            }
          }
        }
      }
    }

    &[type="radio"] {
      @include border-radius(50%);

      + #{$this}__label {
        &:before,
        &:after {
          @include border-radius(50%);
        }
      }

      &:focus {
        + #{$this}__label {
          &:before {
            box-shadow: inset 0 0 3px 0 $color-dark-grey;
          }
        }
      }

      &:checked {
        + #{$this}__label {
          &:before {
            background-color: $input-border-focus-color;
          }
        }

        &:disabled + #{$this}__label {
          &:before {
            background-color: $color-light-grey;
          }
        }
      }
    }

    &[type="checkbox"] {
      + #{$this}__label {
        &:before {
          background-image: none;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 15px;
        }
      }

      &:checked {
        + #{$this}__label {
          &:before {
            @include icons("check--blue.svg");
          }
        }
      }

      &:disabled {
        &:checked + #{$this}__label {
          &:before {
            @include icons("check.svg");
          }
        }
      }

      &:focus {
        + #{$this}__label {
          &:after {
            box-shadow: inset 0 0 3px 0 $color-black;
          }
        }

        &:checked {
          + #{$this}__label {
            &:after {
              box-shadow: inset 0 0 3px 0 $color-black;
            }
          }
        }
      }
    }
  }
}
